# App config
APP_PORT=3000
NODE_ENV=development

# Database config
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=buscar_db

# PGAdmin config
PGADMIN_DEFAULT_EMAIL=admin@buscar.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080
